<article class="catalog">

    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="catalog_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
</article>