<div class="personal-page">
    <div class="personal-page_menu">
        <%- partial("_partials/_personal-menu"); %>
    </div>
    <div class="personal-page_main">
        <form>
            <div class="form_i">
                <label class="label-block" for="name">Имя</label>
                <%- partial("_partials/_base-input", {
                    id: "name",
                    type: "text"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="surname">Фамилия</label>
                <%- partial("_partials/_base-input", {
                    id: "surname",
                    type: "text"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="email">Email</label>
                <%- partial("_partials/_base-input", {
                    id: "email",
                    type: "email"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="phone">Телефон</label>
                <%- partial("_partials/_base-input", {
                    id: "phone",
                    type: "tel"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="country">Страна</label>
                <label class="base-select_w">
                    <select id="country" class="base-select">
                        <option>Россия</option>
                    </select>
                </label>
            </div>

            <div class="form_i">
                <label class="label-block" for="post">Почтовый индекс</label>
                <%- partial("_partials/_base-input", {
                    id: "post",
                    type: "number"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="area">Область/регион</label>
                <%- partial("_partials/_base-input", {
                    id: "area",
                    type: "text"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="city">Населенный пункт</label>
                <%- partial("_partials/_base-input", {
                    id: "city",
                    type: "text"
                }); %>
            </div>

            <div class="form_i">
                <label class="label-block" for="address">Адрес: улица, дом, квартира, корпус</label>
                <%- partial("_partials/_base-input", {
                    id: "address",
                    type: "text"
                }); %>
            </div>

            <div class="form_i">
                <button type="submit" class="button">Сохранить</button>
            </div>
        </form>
    </div>
</div>