<article class="collection">
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_catalog-card"); %>
    </div>
</article>