<article class="collection js-hook" data-module="Loader" data-url="collection-loader">
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img1.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img2.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img3.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img4.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img5.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img6.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img7.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img8.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img9.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img10.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img1.jpg'
        }); %>
    </div>
    <div class="collection_item">
        <%- partial("_partials/_overlay-card", {
            image: './img/collection/img2.jpg'
        }); %>
    </div>
</article>