<article class="item">
    <div class="item_preview js-hook" data-module="ImageAlign">
        <img class="item_preview-img" src="<%- public._data['catalog'].items[0].image %>" />
    </div>

    <div class="item_header">
        <div class="item_info">
            <div class="item_info-title">Uma red laque</div>
            <div class="item_info-text">Зимняя куртка с капюшоном силуэта оверсайз. Спущенная линия плеч. Объемные рукава заканчиваются трикотажными манжетами. В рельефах обработаны горизонтальные карманы. Изделие застегивается на молнию и кнопки. Предусмотрен пояс. Цвет красный лаковый</div>

            <div class="item_info-previews">
                <% for(var i = 0; i < 3; i++) { %>
                    <div class="item_info-previews-item">
                        <img class="item_info-previews-img" src="<%- public._data['catalog'].items[i].image %>" />
                    </div>
                <% } %>
            </div>

            <div class="item_info-tabs js-hook" data-module="Tabs">
                <div class="item_info-tabs-head">
                    <div class="item_info-tab-item">
                        <span class="item_info-link js-link">Состав и уход</span>
                        <div class="item_info-tab js-tab">
                            Утепленный анорак унисекс. Воротник-стойка с кулиской. Объемный карман спереди. Рукава заканчиваются регулируемыми манжетами на кнопках. Изделие застегивается на молнию.
                        </div>
                    </div>
                    <div class="item_info-tab-item">
                        <span class="item_info-link js-link">Таблица размеров</span>
                        <div class="item_info-tab js-tab">
                            <%- partial("_partials/_size-table"); %>
                            <p>
                                Остались вопросы?   +7 911 956 78 08    <a href="mailto:mail@novayawear.com">mail@novayawear.com</a>
                            </p>
                        </div>
                    </div>
                    <div class="item_info-tab-item">
                        <span class="item_info-link js-link">Гид по посадке</span>
                        <div class="item_info-tab js-tab">
                            <p>
                                Какой-то текст
                            </p>
                        </div>
                    </div>
                    <div class="item_info-tab-item">
                        <span class="item_info-link js-link">Доставка и оплата</span>
                        <div class="item_info-tab js-tab">
                            <h1>ДОСТАВКА</h1>
                            <p>
                                — самовывоз из студии<br />
                                — курьерская доставка по Санкт–Петербургу   350Р<br />
                                — курьерская доставка в Москву   500р<br />
                                — курьерская доставка регионы России: от 500р<br />
                            </p>

                            <h1>ОПЛАТА</h1>
                            <p>
                                — онлайн через платежную систему Payanyway<br />
                                — наличными/картой курьеру при получении.<br />
                                Возможна примерка и частичный выкуп.
                            </p>

                            <h1>ВОЗВРАТ</h1>
                            <p>
                                Вы можете вернуть не подошедший вам товар, а мы вернем вам его стоимость после получения изделия.
                            </p>
                        </div>
                    </div>

                </div>
                <div class="item_info-tabs-body"></div>
            </div>
        </div>
        <div class="item_options">
            <form>
                <div class="item_price">
                    <span class="item_old-price">15 000</span>
                    <span class="item_original-price">10 900 Руб</span>
                </div>
                <div class="item_sizes">
                    <label class="item_size-option">
                        <input class="item_size-option-radio" type="radio" name="size" value="xs" disabled="disabled" />
                        <span class="item_size-option-text">xs</span>
                    </label>

                    <label class="item_size-option">
                        <input class="item_size-option-radio" type="radio" name="size" value="s" checked="checked"/>
                        <span class="item_size-option-text">s</span>
                    </label>

                    <label class="item_size-option">
                        <input class="item_size-option-radio" type="radio" name="size" value="m" />
                        <span class="item_size-option-text">m</span>
                    </label>

                    <label class="item_size-option">
                        <input class="item_size-option-radio" type="radio" name="size" value="l" />
                        <span class="item_size-option-text">l</span>
                    </label>

                    <label class="item_size-option">
                        <input class="item_size-option-radio" type="radio" name="size" value="xl" />
                        <span class="item_size-option-text">xl</span>
                    </label>
                </div>
                <div class="item_buy">
                    <button type="submit" class="item_buy-submit">Добавить в корзину</button>
                    <a style="display: none" class="item_buy-submit" href="./cart">Перейти в корзину [1]</a>
                </div>
            </form>
        </div>
    </div>

    <div class="item_views js-hook" data-module="Gallery">
        <div class="item_media" data-src="./img/collection/img1.jpg">
            <img class="item_img js-hook" src="./img/collection/img1.jpg" data-module="ImageAlign"  />
        </div>
        <div class="item_media" data-src="./img/collection/img2.jpg">
            <img class="item_img js-hook" src="./img/collection/img2.jpg" data-module="ImageAlign" />
        </div>
        <div class="item_media" data-src="./img/collection/img3.jpg">
            <img class="item_img js-hook" src="./img/collection/img3.jpg" data-module="ImageAlign" />
        </div>
    </div>

    <div class="item_similar">
        <div class="catalog-title">WE HAVE MORE ITEMS</div>

        <div class="catalog-list">
            <% for(var i = 0; i < 3; i++) { %>
                <div class="catalog-list_item">
                    <%- partial("_partials/_catalog-card", public._data['catalog'].items[i]); %>
                </div>
            <% } %>
        </div>
    </div>

    <div class="item_watched">
        <div class="catalog-title">You watched</div>

        <div class="catalog-list">
            <% for(var i = 0; i < 3; i++) { %>
                <div class="catalog-list_item">
                    <%- partial("_partials/_catalog-card", public._data['catalog'].items[i]); %>
                </div>
            <% } %>
        </div>
    </div>

</article>
