<form class="personal-page __has-footer">
    <div class="personal-page_menu">
        <%- partial("_partials/_cart-menu"); %>
    </div>
    <div class="personal-page_main">
        <div class="form_i">
            <label class="label-block" for="name">Имя</label>
            <%- partial("_partials/_base-input", {
                id: "name",
                type: "text"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="surname">Фамилия</label>
            <%- partial("_partials/_base-input", {
                id: "surname",
                type: "text"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="email">Email</label>
            <%- partial("_partials/_base-input", {
                id: "email",
                type: "email"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="phone">Телефон</label>
            <%- partial("_partials/_base-input", {
                id: "phone",
                type: "tel"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="country">Страна</label>
            <label class="base-select_w">
                <select id="country" class="base-select">
                    <option>Россия</option>
                </select>
            </label>
        </div>

        <div class="form_i">
            <label class="label-block" for="post">Почтовый индекс</label>
            <%- partial("_partials/_base-input", {
                id: "post",
                type: "number"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="area">Область/регион</label>
            <%- partial("_partials/_base-input", {
                id: "area",
                type: "text"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="city">Населенный пункт</label>
            <%- partial("_partials/_base-input", {
                id: "city",
                type: "text"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="address">Адрес: улица, дом, квартира, корпус</label>
            <%- partial("_partials/_base-input", {
                id: "address",
                type: "text"
            }); %>
        </div>

        <div class="form_i">
            <label class="label-block" for="note">Примечания к заказу</label>
            <textarea id="note" class="textarea"></textarea>
        </div>
    </div>
    <div class="personal-page_aside">
        <div class="personal-page_aside-wrapper">
            <div class="order-prepare-goods">
                <div class="order-prepare-goods_title">Товар</div>
                <div class="order-prepare-goods_item">АРЧИ grey Серый  M x 1<span class="order-prepare-aside">12 000 Р.</span></div>
                <div class="order-prepare-goods_item">Парка BLUE DENIM  S x 1<span class="order-prepare-aside">12 000 Р.</span></div>
            </div>

            <div class="order-prepare-delivery">
                <div class="order-prepare-delivery_title">Доставка</div>
                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery1" checked />
                    <label class="label-inline" for="delivery1">Самовывоз (Санкт-Петербург)</label>
                </div>

                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery2" />
                    <label class="label-inline" for="delivery2">Самовывоз (Москва)</label>
                </div>

                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery3" />
                    <label class="label-inline" for="delivery3">Балтийский курьер (Москва)<span class="order-prepare-aside">12 000 Р.</span></label>
                </div>

                <div class="form_i">
                    <input type="radio" name="delivery" id="delivery4" />
                    <label class="label-inline" for="delivery4">EMS<span class="order-prepare-aside">Рассчитывается оператором</span></label>
                </div>
            </div>

            <div class="order-prepare-summary">Итого<span class="order-prepare-aside">12 000 Р.</span></div>

            <div class="order-prepare-payment">
                <div class="order-prepare-payment_title">Оплата</div>

                <div class="form_i">
                    <input type="radio" name="payment" id="payment1" checked />
                    <label class="label-inline" for="payment1">При доставке (наличные или карта)</label>
                </div>

                <div class="form_i">
                    <input type="radio" name="payment" id="payment2" />
                    <label class="label-inline" for="payment2">Оплата онлайн (PayAnyWay)</label>
                </div>
            </div>

            <div class="form_i">
                <button type="submit" class="button">Подтвердить заказ</button>
            </div>
        </div>
    </div>
</form>