<div class="base-input_w <%= cssMod ? cssMod : ''%>">
    <input class="base-input" id="<%= id %>" type="<%= type %>" name="<%= name %>" <%= required ? 'required="required"' : '' %> />
    <% if (error) { %>
        <div class="base-input-error"><%= error %></div>
    <% } %>
</div>