<div class="top-menu">
    <nav class="top-menu_cnt">
        <div class="nav_w">
            <div class="nav_menu js-hook" data-module="TopMenu">
                <div class="nav_i">
                    <div class="nav_title nav_link">New</div>
                </div>
                <div class="nav_i js-nav-dropdown">
                    <div class="nav_title nav_link">Women</div>

                    <div class="nav_dropdown">
                        <div class="nav_dropdown_i nav_link">Куртки</div>
                        <div class="nav_dropdown_i nav_link">Пальто</div>
                        <div class="nav_dropdown_i nav_link">Плащи</div>
                        <div class="nav_dropdown_i nav_link">Трикотаж</div>
                        <div class="nav_dropdown_i nav_link">Платья</div>
                        <div class="nav_dropdown_i nav_link">Костюмы</div>
                        <div class="nav_dropdown_i nav_link">Брюки</div>
                        <div class="nav_dropdown_i nav_link">Аксессуары</div>
                    </div>
                </div>
                <div class="nav_i js-nav-dropdown">
                    <div class="nav_title nav_link">Men</div>

                    <div class="nav_dropdown">
                        <div class="nav_dropdown_i nav_link">Куртки</div>
                        <div class="nav_dropdown_i nav_link">Пальто</div>
                        <div class="nav_dropdown_i nav_link">Плащи</div>
                        <div class="nav_dropdown_i nav_link">Аксессуары</div>
                    </div>
                </div>
                <div class="nav_i">
                    <a href="./liniya" class="nav_title nav_link <%= current.source === 'liniya' ? '__active' :'' %>">Liniya</a>
                </div>
                <div class="nav_i">
                    <a href="./sale" class="nav_title nav_link <%= current.source === 'sale' ? '__active' :'' %>">Sale</a>
                </div>
                <div class="nav_i js-nav-dropdown">
                    <a href="./delivery" class="nav_title nav_link <%= current.source === 'delivery' ? '__active' :'' %>">Информация</a>
                    <div class="nav_dropdown">
                        <a href="./delivery" class="nav_dropdown_i nav_link <%= current.source === 'delivery' ? '__active' :'' %>">Доставка</a>
                        <a href="./payment" class="nav_dropdown_i nav_link <%= current.source === 'payment' ? '__active' :'' %>">Оплата</a>
                        <a href="./refund" class="nav_dropdown_i nav_link <%= current.source === 'refund' ? '__active' :'' %>">Возврат</a>
                        <a href="./isosoft" class="nav_dropdown_i nav_link <%= current.source === 'isosoft' ? '__active' :'' %>">Изософт</a>
                        <a href="./wholesale" class="nav_dropdown_i nav_link <%= current.source === 'wholesale' ? '__active' :'' %>">Оптовикам</a>
                        <a href="./account" class="nav_dropdown_i nav_link <%= current.source === 'account' ? '__active' :'' %>">Реквизиты</a>
                    </div>
                </div>
                <div class="nav_i">
                    <a href="./brand" class="nav_title nav_link <%= current.source === 'brand' ? '__active' :'' %>">Бренд</a>
                </div>
                <div class="nav_i js-nav-dropdown">
                    <a href="./collections" class="nav_title nav_link <%= current.source === 'collections' ? '__active' :'' %>">Коллекции</a>

                    <div class="nav_dropdown">
                        <a href="./collection" class="nav_dropdown_i nav_link <%= current.source === 'collection' ? '__active' :'' %>">Campaign SS18</a>
                        <a href="./collection" class="nav_dropdown_i nav_link">Lookbook SS/18</a>
                        <a href="./collection" class="nav_dropdown_i nav_link">Lookbook FW17/18</a>
                        <a href="./collection" class="nav_dropdown_i nav_link">Трикотаж</a>
                        <a href="./collection" class="nav_dropdown_i nav_link">Campaign SS17</a>
                        <a href="./collection" class="nav_dropdown_i nav_link">Lookbook SS17</a>
                        <a href="./collection" class="nav_dropdown_i nav_link">Campaign FW16/17</a>
                    </div>
                </div>
                <div class="nav_i">
                    <a href="./contacts" class="nav_title nav_link <%= current.source === 'contacts' ? '__active' :'' %>">Контакты</a>
                </div>
                <div class="nav_i">
                    <a href="./shops" class="nav_title nav_link <%= current.source === 'shops' ? '__active' :'' %>">Магазины</a>
                </div>
            </div>
            <div class="nav_search">
                <div class="nav_title nav_link">Поиск</div>
            </div>
            <div class="nav_aside">
                <div class="nav_aside_i nav_link">Вход / Регистрация</div>
                <div class="nav_aside_i nav_link">Корзина</div>
            </div>

        </div>
    </nav>
</div>